/* ================================= 
			HEADER
==================================== */
* {
	box-sizing: border-box;
	margin:0;
	padding:0;
}

html {
	scroll-behavior: smooth;
}

body {
	line-height: 1.6;
	margin: 0;
	height: 100%;
	background-color: #ffffff;
	font-family: 'Ubuntu', sans-serif;
}


a {
	text-decoration: none;
}

.logo {
	margin: 0;
	margin-left: 20px;
	font-size: 1.5em;
	color: white;
}

.logo2 {
	margin: 0;
	margin-left: 20px;
	font-size: 1.5em;
	color: #52796F;
}

.main-nav {
	margin-top: 5px;
	margin-right: 20px;
	list-style: none;
	
}

.main-nav2 {
	margin-top: 5px;
	margin-right: 20px;
	list-style: none;
	
}

.logo a {
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	display: block;
	color: maroon;
	
}

.logo2 a {
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	display: block;
	color: maroon;
	
}

.main-nav a {
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	display: block;
	color: white;
	font-size: 1.5em;
}

.main-nav2 a {
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	display: block;
	color: #52796F;
	font-size: 1.5em;
}

.main-nav a:hover {
	color: #718daa;
}

.main-nav2 a:hover {
	color: #718daa;
}

.header {
	padding-top: .5em;
}

.active {
	text-decoration: underline;
}

/* ================================= 
			Media Queries
==================================== */


@media (min-width: 769px) {
	.header,
	.main-nav,
	.main-nav2 {
		display: flex;
	}
	.header {
		flex-direction: column;
		align-items: center;
    	.header {
			width: 80%;
			margin: 0 auto;
			max-width: 1150px;
	    }	
	}
	
}

@media (min-width: 1025px) {
	.header {
		flex-direction: row;
		justify-content: space-between;
	}
	
}


/* ================================= 
				BODY
==================================== */
.hero-image {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/school.jpg");
	height: 800px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	margin-bottom: 0px;
}

.center-con {
	display: flex;
	align-items: center;
	justify-content: center;
}

.round {
	position: relative;
	width: 100px;
	height: 100px;
	border-radius: 100%;
}

span {
	z-index: 999;
	height: 3px;
	margin:1px;
	width: 30px;
	background: #fff;
	transition: 0.4s ease;
}

span:nth-child(3) {
	display: block;
	position: absolute;
	transform: rotate(45deg);
	left: 25%;
	bottom: 54%;
}

span:nth-child(4) {
	display: block;
	position: absolute;
	transform: rotate(-45deg);
	left: 45%;
	bottom: 54%;
}

.round:hover{
	cursor: pointer;
	border: 3px solid #fff;
	border-radius: 100%;
}


.motto {
	text-align: center;
	font-size: 40px;
	font-weight: bold;
	margin-top: 15%;
	margin-bottom: 0px;
	color: #ffffff;
}




/* ================================= 
			About Section
==================================== */
.about-section {
	background-color: #fff;
	height: 700px;
	margin-top: 0px;
}

.about-title {
	margin-top: 5%;
	margin-left: 20%;
	margin-right: 20%;
	color: gray;
	font-size: 60px;
	background-color: #fff;
}

.text-content {
	margin-left: 22%;
	margin-right: 22%;
	color: #52796F;
	font-size: 17px;
}


.center-con {
	display: flex;
	align-items: center;
	justify-content: center;
}

.about-round {
	position: relative;
	width: 100px;
	height: 100px;
	border-radius: 100%;
}

.about-span {
	z-index: 999;
	height: 3px;
	margin:1px;
	width: 30px;
	background: #52796F;
	transition: 0.4s ease;
	color: #52796F;
}

.about-span:nth-child(3) {
	display: block;
	position: absolute;
	transform: rotate(45deg);
	left: 25%;
	bottom: 54%;
	color: #52796F;
}

.about-span:nth-child(4) {
	display: block;
	position: absolute;
	transform: rotate(-45deg);
	left: 45%;
	bottom: 54%;
	color: #52796F;
}

.about-round:hover{
	cursor: pointer;
	border: 3px solid #52796F;
	border-radius: 100%;
}


@media (max-width: 500px) {
	.about-title
	 {
		font-size: 40px;
		text-align: center;
	}
	
	.about-section {
		height: 1000px;
	}
}


@media only screen and (max-width: 767px) {
	.about-section {
		height: 900px;
	}
	
	.text-content {
		margin-left: 15%;
		margin-right: 15%;
	}
}


@media only screen and (max-width: 820px) {
	.about-section {
		height: 800px;
	}
	
	.text-content {
		margin-left: 15%;
		margin-right: 15%;
	}
}

@media only screen and (max-width: 900px) {
	.about-section {
		height: 800px;
	}
	
	.about-title {
		margin-top: 2%;
	}
	
	.text-content {
		margin-left: 15%;
		margin-right: 15%;
	}
}



/* ================================= 
			Problem Section
==================================== */
.problem-title {
	margin-top: 5%;
	margin-left: 10%;
	margin-right: 20%;
	color: #ffffff;
	font-size: 60px;
}

.text-content-problem {
	margin-left: 15%;
	margin-right: 22%;
	color: #ffffff;
	font-size: 25px;
}

/* Create two unequal columns that floats next to each other */
.column {
	float: left;
	padding: 10px;
	height: 700px;
}

.left {
	background-image: url("images/bates.jpg");
	background-size: 550px;
	
	width: 35%;
}

.right {
	background-color: #52796F;
	width: 65%;
}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}

@media only screen and (max-width: 500px) {	
	.left {
		width: 0%;
		background-image: none;
	}
	
	.right {
		width: 100%;
		position: absolute;
	}
	
	.problem-title {
		margin-top: 5%;
		margin-left: 5%;
		margin-right: 5%;
		font-size: 40px;
	}
	
	
	.text-content-problem {
		margin-left: 5%;
		margin-right: 5%;
	}
}

@media only screen and (max-width: 820px) {
	.column {
		height: 920px;
	}
	
	.left {
		background-size: 700px;
	}
}


/* ================================= 
			Help Section
==================================== */
.help-title {
	margin-top: 5%;
	margin-left: 10%;
	margin-right: 20%;
	color: #ffffff;
	font-size: 60px;
}

.help-text {
	margin-left: 15%;
	margin-right: 22%;
	color: #ffffff;
	font-size: 30px;
}

.help-list {
	margin-left: 22%;
	margin-right: 22%;
	color: #ffffff;
	font-size: 25px;
}


.left2 {
	background-color: #463730;
	width: 50%;
}

.right2 {
	background-image: url("images/stacks.jpg");
	background-size: contain;

	width: 50%;
}


@media only screen and (max-width: 820px) {	
	.right2 {
		background-size: 800px;
	}
}


@media only screen and (max-width: 500px) {
	.help-title {
		margin-top: 5%;
		margin-left: 5%;
		margin-right: 5%;
		font-size: 40px;
	}
	
	.left2 {
		width: 100%;
		position: absolute;
		
	}
	
	.right2 {
		width: 0%;
		background-image: none;
	}
	
	.help-list {
		font-size: 25px;
		margin-right: 2%;
		margin-top: 5%;
	}
	
	
}


/* ================================= 
			File Upload
==================================== */
.form-container {
	margin-left: 22%;
	margin-right: 20%;
}

input[type="name"] {
	width: 300px;
	height: 50px;
	margin-bottom: 5px;
}

input[type="email"] {
	width: 300px;
	height: 50px;
	margin-bottom: 5px;
}

.message {
	width: 600px;
	height: 200px;
	margin-bottom: 5px;
}

.attachment-box {
	display: inline-block;
	cursor: pointer;
}

@media (max-width: 769px) {
	.message {
		width: 300px;
		height: 150px;
		margin-bottom: 5px;
	}
}


.submit-file {
	display: inline-block;
	margin-top: 10px;
	padding: 10px 15px;
	font-size: 24px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: #fff;
	background-color: #52796F;
	border: none;
	border-radius: 15px;
	box-shadow: 0 9px #999;
}

.submit-file:hover {background-color: #3e8e41}

.submit-file:active {
	background-color: #52796F;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}


/* ================================= 
			FOOTER
==================================== */

.footer {
	position: relative;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #463730;
	color: white;
	text-align: center;
	margin-top: 40px;
}

.footer-text {
	margin: 0;
}

.footer-email {
	text-decoration: none;
	color: white;
}


/* ================================= 
			TEAM PAGE
==================================== */
/* Create two unequal columns that floats next to each other */
.image-wrapper {
	margin-left: 10%;
	margin-right: 22%;
}

.team-column {
	float: left;
	padding: 10px;
	height: auto;
}

.team-left {
	width: 40%;
}

.team-right {
	margin-top: 10%;
	width: 60%;
}

.team-row {
	margin-top: 50px;
}

/* Clear floats after the columns */
.team-row:after {
	content: "";
	display: table;
	clear: both;
}

.ben-image {
	border-radius: 50%;
	height: 320px;
	width: 320px;
}

.imaya-image {
	border-radius: 50%;
	height: 320px;
	width: 320px;
}

.emily-image {
	border-radius: 50%;
	height: 320px;
	width: 320px;
}


.team-text {
	font-size: 50px;
}

.team-text2 {
	font-size: 30px;
}

/********Flip Card*********/
.flip-card {
	background-color: transparent;
	perspective: 1000px;
}

.flip-card-inner, .team-row {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.6s;
	transform-style: preserve-3d;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.8);
}

.flip-card:hover .flip-card-inner {
	transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back{
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	
}

.flip-card-back {
	padding-top: 10px;
	position: absolute;
	font-size: 25px;
	transform: rotateY(180deg);
	color: #52796F;

}

@media (max-width: 1400px) {
	.team-column {
		height: 320px;
	}
	
}



@media (max-width: 1100px) {
	.team-column {
		height: 360px;
	}
	
	.flip-card-back {
		font-size: 22px;
	}
	
}

@media (max-width: 900px) {
	.bob-image {
		margin-top: 20%;
		height: 300px;
	}
	
	.ben-image {
		border-radius: 50%;
		height: 300px;
		width: 300px;
	}
	
	.imaya-image {
		border-radius: 50%;
		height: 300px;
		width: 300px;
	}
	
	.emily-image {
		border-radius: 50%;
		height: 300px;
		width: 300px;
	}
	
	.team-text {
		margin-top: 20%;
		font-size: 40px;
	}
	
	.team-text2 {
		font-size: 20px;
	}
	
	.flip-card-back {
		font-size: 21px;
	}
	
}

@media (max-width: 900px) {
	
	.ben-image {
		margin-top: 20%;
	}
	
	.imaya-image {
		margin-top: 20%;
	}
	
	.emily-image {
		margin-top: 20%;
	}
	
	
	.flip-card-back {
		font-size: 19px;
	}
	
}

@media (max-width: 700px) {
	.bob-image {
		margin-top: 30%;
		height: 250px;
	}
	
	.ben-image {
		margin-top: 30%;
		border-radius: 50%;
		height: 250px;
		width: 250px;
	}
	
	.imaya-image {
		margin-top: 30%;
		border-radius: 50%;
		height: 250px;
		width: 250px;
	}
	
	.emily-image {
		margin-top: 30%;
		border-radius: 50%;
		height: 250px;
		width: 250px;
	}
	
	.team-text {
		margin-top: 30%;
		font-size: 30px;
	}
	
	.team-text2 {
		font-size: 10px;
	}
	
	.flip-card-back {
		font-size: 15px;
	}
	
}

@media (max-width: 600px) {
	.team-text {
		margin-left: 40%;
		margin-top: 50%;
		font-size: 20px;
	}
	
	.team-text2 {
		font-size: 10px;
		margin-left: 40%;
	}
	
}


@media (max-width: 550px) {
	.team-text {
		margin-left: 40%;
		margin-top: 50%;
		font-size: 20px;
	}
	
	.team-text2 {
		font-size: 10px;
		margin-left: 40%;
	}
	
	.flip-card-back {
		font-size: 15px;
	}
}


@media (max-width: 550px) {
	.bob-image {
		margin-top: 50%;
		height: 200px;
	}
	
	.ben-image {
		margin-top: 30%;
		border-radius: 50%;
		height: 200px;
		width: 200px;
	}
	
	.imaya-image {
		margin-top: 30%;
		border-radius: 50%;
		height: 200px;
		width: 200px;
	}
	
	.emily-image {
		margin-top: 50%;
		border-radius: 50%;
		height: 200px;
		width: 200px;
	}
}


@media (max-width: 480px) {
	.bob-image {
		margin-top: 60%;
		height: 140px;
	}
	
	.ben-image {
		margin-top: 60%;
		border-radius: 50%;
		height: 140px;
		width: 140px;
	}
	
	.imaya-image {
		margin-top: 60%;
		border-radius: 50%;
		height: 140px;
		width: 140px;
	}
	
	.emily-image {
		margin-top: 60%;
		border-radius: 50%;
		height: 140px;
		width: 140px;
	}
	
	.flip-card-back {
		font-size: 12px;
	}
	
	.team-text {
		margin-left: 20%;
		margin-top: 50%;
		font-size: 22px;
	}
	
	.team-text2 {
		font-size: 9px;
		margin-left: 20%;
	}
	
	.team-column {
		height: 250px;
	}
}



/* ================================= 
			BLOG PAGE
==================================== */

.blog-wrapper a {
	display: grid;
	padding: 2rem;
	grid-template-columns: 300px 1fr;
	gap: 1rem;
	align-items: center;
	max-width: 800px;
	margin: 0 auto;
}

.blog-wrapper a:hover{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.blog-img {
	max-width: 100%;
	height: auto;
}

.blog-header {
	color: #52796F;
}

.blog-brief {
	font-size: 20px;
	color: #463730;
}

@media (max-width: 650px) {
	.blog-wrapper a {
		display: block;
		font-size: 80%;
	}
	.text-container {
		position: relative;
		margin: -3rem 0 2rem 1rem;
		padding: 1rem;
		background: rgba(white, 0.8);
	}
}

.author {
	text-align: center;
	color: grey;
	margin-bottom: 10px;
}


table, th, td {
	border:1px solid black;
}

table {
	margin-left: 25%;
}

td {
	padding-left: 8px;
	padding-right: 8px;
}

th {
	padding-left: 8px;
	padding-right: 8px;
}





/* ================================= 
			POST PAGES
==================================== */
.post-title {
	text-align: center;
	color: #52796F;
	margin-bottom: 20px;
}

.post-content {
	margin-left: 25%;
	margin-right: 25%;
	color: #463730;
	font-size: 20px;
}

.blog-list {
	margin-left: 30%;
	list-style-type: circle;
	font-size: 20px;
}


/* ================================= 
			RESEARCH PAGE
==================================== */
.research-banner {
	background-image: url("images/cover.png");
	width: 100%;
	height: 500px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	margin-bottom: 5px;
}

.research-title {
	text-align: left;
	font-size: 45px;
	font-weight: bold;
	padding-top: 10%;
	padding-left: 5%;
	padding-right: 30%;
	margin-bottom: 0px;
	color: #ffffff;
	
}

.research-subtitle1 {
	text-align: right;
	font-size: 32px;
	font-weight: bold;
	padding-top: 5%;
	padding-left: 70%;
	padding-right: 5%;
	margin-bottom: 0px;
	color: #52796F;
}

.research-subtitle2 {
	text-align: right;
	font-size: 32px;
	font-weight: bold;
	padding-top: 1%;
	padding-left: 70%;
	padding-right: 5%;
	margin-bottom: 0px;
	color: #52796F;
}

.research-subtitle3 {
	text-align: right;
	font-size: 32px;
	font-weight: bold;
	padding-top: 1%;
	padding-left: 60%;
	padding-right: 5%;
	margin-bottom: 0px;
	color: #52796F;
}

@media (min-width: 600px)  {
	.research-title {
		padding-top: 7%;
	}
	
	.research-subtitle1 {
		padding-top: 5%;
	}
	.research-subtitle2 {
		padding-top: 0%;
	}
	.research-subtitle3 {
		padding-top: 0%;
	}
}

@media only screen and (max-width : 1000px) {
	.research-title {
		padding-top: 3%;
	}
	
	.research-subtitle1 {
		padding-top: 1%;
	}
	.research-subtitle2 {
		padding-top: 0%;
	}
	.research-subtitle3 {
		padding-top: 0%;
	}
}

@media only screen and (max-width : 800px) {
	.research-title {
		padding-top: 1%;
		font-size: 40px;
	}
	
	.research-subtitle1 {
		padding-top: 7%;
		padding-left: 50%;
	}
	.research-subtitle2 {
		padding-top: 0%;
		padding-left: 60%;
	}
	.research-subtitle3 {
		padding-top: 0%;
		padding-left: 50%;
	}
}

@media only screen and (max-width : 600px) {
	.research-title {
		padding-top: 1%;
		font-size: 35px;
	}
	
	.research-subtitle1 {
		padding-top: 7%;
		padding-left: 50%;
	}
	.research-subtitle2 {
		padding-top: 0%;
		padding-left: 60%;
	}
	.research-subtitle3 {
		padding-top: 0%;
		padding-left: 50%;
	}
}

@media only screen and (max-width : 480px) {
	.research-title {
		padding-top: 1%;
		font-size: 32px;
	}
	
	.research-subtitle1 {
		padding-top: 8%;
		padding-left: 40%;
		font-size: 25px;
	}
	.research-subtitle2 {
		padding-top: 0%;
		padding-left: 50%;
		font-size: 25px;
	}
	.research-subtitle3 {
		padding-top: 0%;
		padding-left: 40%;
		font-size: 25px;
	}
}


.research-page-header {
	text-align: center;
	color: #463730;
	margin: 3% 0 3% 0;
}

.pdf-frame {
	margin-left: 22%;
	margin-right: 22%;
}
	
	
/* ================================= 
			REPS PAGE
==================================== */
.reps-wrapper a {
	display: grid;
	padding: 2rem;
	max-width: 30%;
	margin: 0 auto;
/*	text-align: center;*/
}

.reps-wrapper a:hover{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.reps-img {
	max-width: 100%;
	height: auto;
	padding: 5%;
}

.reps-header {
	text-align: center;
	color: #52796F;
	margin-top: 20px;
	margin-bottom: 20px;
}





/* ================================= 
			THANKS PAGE
==================================== */
.celebrate {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/celebrate.jpg");
	height: 800px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	margin-bottom: 0px;
	
}

.celebrate-header {
	color: #ffffff;
	text-align: center;
	margin-top: 20%;
}



/*CONNECT PAGE FOR REPS */

.connect-header {
	text-align: center;
	color: maroon;
	margin-top: 20px;
	margin-bottom: 20px;
}

.horizontal-card {
	margin-left: 20%;
	margin-right: 20%;
	padding: 1rem;
	border-radius: .35rem;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .40) ;
	background-color: white;
	display:inline-block;
	position:relative;
	margin-bottom: 30px;
	
}

.contact-btn {
	background-color: maroon;
	border: none;
	color: white;
	font-size: 1.25rem;
	padding: .5em .75em;
	border-radius: .25em;
	cursor: pointer;
	position: absolute;
	bottom:1em;
	right:1em;
}

.contact-btn2 {
	background-color: maroon;
	border: none;
	color: white;
	font-size: 1.5rem;
	padding: .5em .75em;
	border-radius: .25em;
	cursor: pointer;
	position: absolute;
	bottom:1em;
	right:7em;
}

.contact-btn:hover, .contact-btn:focus {
	background-color: #A24857;
}

.contact-btn2:hover, .contact-btn2:focus {
	background-color: #A24857;
}

.connect-photos {
	width: 100%;
}


@media only screen and (max-width:1100px) {
	.contact-btn {
		font-size: 1rem;
	}
	
	.contact-btn2 {
		font-size: 1rem;
	}
}

@media only screen and (max-width:600px) {
	.contact-btn {
		font-size: .75rem;
	}
	
	.contact-btn2 {
		font-size: .75rem;
	}
}

.banner-image {
	height: 400px;
	background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('images/banner.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	margin: 5%;
	margin-top: 3%;
	width: 90%;
	align-content: center;
	border-radius: .35rem;
	
}

.banner-content {
	width: 400px;
	height: 150px;
	position: absolute;
	margin-top: 7%;
	margin-left: 10%;
	padding-top: 50px;
	padding: 1rem;
	border-radius: .35rem;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .40) ;
	background-color: white;
	color: #463730;
}

.banner-text {
	font-size: 2rem;
}



/**************** GRAVEYARD ****************/
/**/
/**/
/*/* CONNECT PAGE FOR REPS */

/**/

/**/
/*.card-header {*/
/*	margin-top: 20px;*/
/*	font-size: 3rem;*/
/*	color: #417dc1;*/
/*	position: absolute;*/
/*	margin-left: 350px;*/
/*	*/
/*}*/
/**/

/**/
/**/
/*.symbol {*/
/*	margin-top: 100px;*/
/*	width: 20%;*/
/*}*/
/**/
/*.symbol2 {*/
/*	margin-top: 65px;*/
/*	width: 30%;*/
/*}*/
/**/
/*.left-align {*/
/*	margin-top: 0px;*/
/*	margin-bottom: 0px;*/
/*	float:left;*/
/*	width: 30%;*/
/*}*/
/**/
/*.mid-align {*/
/*	float: left; */
/*	width: 30%;*/
/*}*/
/**/
/*.right-align {*/
/*	float: left;*/
/*	width: 30%;*/
/*}*/
/**/
/*.symbol-text {*/
/*	margin-top: 100px;*/
/*	float: left;*/
/*}*/
/**/
/**/

/**/
/*.contact-name {*/
/*	font-size: 2rem;*/
/*	position: absolute;*/
/*	margin-top: 212px;*/
/*	margin-left: 80px;*/
/*	font-weight: 900;*/
/*}*/
/**/
/*.bob-image2 {*/
/*	height: 220px;*/
/*	margin-right: 0px;*/
/*}*/


/**/
/*/*MEETING PAGE */*/
/*.curtain {*/
/*	height: 589px;*/
/*	height:100vh;*/
/*	position: relative;*/
/*	z-index: 2;*/
/*	background: #1d1d1d;*/
/*	font-family:sans-serif;*/
/*	font-size:300px;*/
/*	color:white;*/
/*	display:flex;*/
/*	justify-content:center;*/
/*	align-items:center;*/
/*		box-shadow: 0 14px 28px rgba(0,0,0,0.1), 0 10px 10px rgba(0,0,0,0.1);*/
/*}*/
/**/
/*.main{*/
/*	position: fixed;*/
/*	bottom:0;*/
/*	height: 450px;*/
/*	width: 100%;*/
/*	background: #e3e3e3;*/
/*}*/
/**/
/*.reveal-main{*/
/*	height: 400px;*/
/*	background:#e3e3e3;*/
/*}*/
/**/
/*.main {*/
/*	color:white;*/
/*	font-family:sans-serif;*/
/*	font-size:100px;*/
/*	text-align:center;*/
/*}*/
/**/
/*.active {*/
/*	position:relative;*/
/*	/* margin-top:-111px;*/*/
/*	margin-top:-6%;*/
/*	margin-top:-118px;*/
/*	height:900px;*/
/*}*/
/**/
/*.activetwo {*/
/*	height:10px;*/
/*	position:absolute;*/
/*}*/
